<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<canvas id = "myChart"> </canvas>
	<script src = "https://cdn.jsdelivr.net/npm/chart.js@2.8.0"> </script>

	<!-- Making the AJAX call -->
	<script type = "text/javascript">
		var http = new XMLHttpRequest();
		var result = true
		http.onreadystatechange = function() {
			if (http.readyState == XMLHttpRequest.DONE) {
					if (http.status == 200) {
					console.log("Request completed:" + http.readyState)
					var responseData = JSON.parse(http.responseText)
					setParams(responseData)
				} else
					result = false
			}
		}
		console.log("readyState value is:" + http.readyState)
		http.open('GET','http://localhost:8000/polls/api/data/{{ q }}/');
		http.send();
		
		if (result == false) {
			var p = document.createElement("p")
			p.innerHTML = "Unable to render graph"
			var link = document.createElement("a")
			link.setAttribute('href',"{% url 'polls:index' %}")
			link.innerHTML = "Go to index page"
			p.appendChild(link)
			document.body.appendChild(p)
		}
		else {
			console.log("Here")
			function setParams(responseData) {
				var ctx = document.getElementById('myChart').getContext('2d');
				var chart = new Chart(ctx, {
    	// The type of chart we want to create
    	type: 'bar',

    	// The data for our dataset
    	data: {
        	labels: Object.keys(responseData.choices),
        	datasets: [{
            label: responseData.question,
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: Object.values(responseData.choices)
        }]
    	},

    	// Configuration options go here
    	options: {}
			});
		}
	}
</script>

</body>
</html>